<% provide(:title, t(".title")) %>
<% provide(:btn_text, t(".btn_create")) %>
<div class = "form_padding">
  <h1><%= t(".title") %></h1>
  <div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <%= form_for [:admin, @tour], url: {action: :create} do |form|%>
        <%= render partial: "form", locals: {f: form} %>
      <% end %>
    </div>
  </div>
</div>
